extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Annes Silde

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Techdegree student on a path to becoming a Full-Stack JavaScript Developer, based in Bangkok, Thailand. 
            | My completed and ongoing projects can be viewed 
            a.colorB(href='/') here
            |  or
            a.colorB(href='https://github.com/annes99', target='_blank')   GitHub.
            br
            br
            | I look forward to applying my previous work experience in construction management to a new career in tech.
            br
            br
            | For daily progress updates follow me on 
            a.colorB(href='https://twitter.com/annesCode', target='_blank') Twitter.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Bootstrap
          li React
          li Node
          li Express
          li Pug
          li SQL
          li Bash/Shell
          li Git/GitHub
          li NPM

        h6 Contact Info

        a.button.expanded(href='https://www.linkedin.com/in/annessilde/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/annes99', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/annesCode', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  